body {
	background-color: #191919;
}


.container,.photo, .end{
display:flex;
justify-content:space-between;
align-items:center;

}
.container{
background-color:yellow;
height:100px;
color:black;	
}
h4{
font-family:Arial;
margin-left:80px;
font-size:38px;
margin:0;
padding:0;
}
.photo{
	
margin-left:0;

}
.end{
margin-top:55px;
}

a{
color:rgb(110,110,110);
font-family:Arial;
margin-right:70px;
font-size:22px;
margin:0;
padding:0;
text-decoration:none;

}

.about{
margin-top:10px;
	color:(120, 120,120);
margin-right:70px;	
margin-left:70px;
}
.project{
margin-top:10px;
margin-right:110px;	
}
.h{
margin-top:10px;
margin-left:70px;
color:rgb(100, 100, 100);	
}
img{
width:400px;
height:400px;
border-radius:50%;
margin-left:110px;
margin-top:80px;
margin-right:0;
}
.first{
color:black;
margin-bottom:0;
padding-bottom:0;
font-size:90px;
}
.pro{
color:rgb(120,120,120);
margin-top:0;
padding-top:0;
font-size:40px;
width:650px;
line-height:46px;
}
.text{
margin-right:110px;
margin-top:70px;
margin-left:0;
}
.A{
margin-left:70px;
color:rgb(90,90,90);
font-family:Arial;
font-size:50px;
margin-top:70px;
margin-bottom:20px;
}
.pro2{
margin-left:70px;
color:rgb(120,120,120);
font-family:Arial;
font-size:30px;
margin-top:0;
margin-right:110px;
line-height:46px;
}
.proj{
margin-left:70px;
margin-right:110px;
font-family:Arial;
}
.p{
color:rgb(80,80,80);

font-size:50px;
margin-top:70px;
margin-bottom:20px;
}
.b1{
text-align:left;
height:220px;
width:361px;
border-radius:10%;
border:0;
}

.pjt{
font-size:30px;
color:rgb(100,100,100);
padding-left:17px;
padding-top:0;
margin-bottom:10px;
margin-top:17px;
background-color:yellow;
}
.t{
font-size:30px;
color:rgb(110,110,110);
padding-left:17px;
padding-top:0;
line-height:46px;
margin-top:0;
}
.contact{
color:rgb(80,80,80);
margin-left:70px;
font-family:Arial;
font-size:50px;
}
.name{
margin-left:70px;
height:50px;
width:535px;

margin-bottom:35px;
padding-left:15px;
border:0.5px solid rgb(220, 220, 220);
border-radius:5px;
font-size:25px;
}
.send{
margin-left:70px;
background-color:yellow;
color:black;
height:50px;
width:120px;
border-radius:8px;
font-size:25px;
text-align:center;
border:0;
}
.copy{
margin-left:70px;
font-size:25px;

}
.logo{
margin-right:120px;

}
.send:hover{
background-color:yellow;
color:black;
}
.send:active{
opacity:0.7;
}